.button {
    border: 0px;
    border-radius: 1rem;
    width: 100%;
    height: 3rem;
    font-size: 1.2em;
    text-align: center;

    cursor: pointer;
}

.primary-button {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;

    color: white;
    background-color: rgb(64, 46, 37);
}